/* COMMON */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.uppercase{
    text-transform: uppercase;
}

img{
    width: 100%;
}

.divisor::before{
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
    vertical-align: middle;
    margin: 0 5px;
    background-color: white;
}

.divisor::after{
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
    vertical-align: middle;
    margin: 0 5px;
    background-color: white;
}

/* HEADER */
header{
    background-color: gray;
    color: white;
    padding: 10px 0;
}

.logo,
.hamburger{
    font-size: 20px;
}

.hamburger,
.header_menu {
    text-align: right;
}

.hamburger a{
    display: inline-block;
    color: inherit;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.header_menu li{
    display: inline-block;
    margin-left: 10px;
}

.header_menu a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* MAIN */
/* Jumbotron */
.jumbotron{
    /* test */
    background-color: turquoise;
}

.jumbotron_content{
    margin: auto;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.jumbotron_content .img{
    margin: auto;
    max-width: 200px;
}

.jumbotron_content p{
    margin-top: 10px;
}

/* Portfolio */
.portfolio_content{
    text-align: center;
    padding: 20px 0;
}

.portfolio_content .divisor::after,
.portfolio_content .divisor::before{
    background-color: black;
}

.portfolio_content .images_container{
    margin: 5px 0;
}

.portfolio_content .single_image{
    border-radius: 10px;

}