/* COMMON */
header ul,
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Backgrounds */
.green_background {
    background-color: #1abc9c;
    color: white;
}

/* Custom containers */
.small_container {
    width: 60%;
    margin: auto;
    max-width: 1000px;
}

/* Image */
img{
    width: 100%;
    max-width: 100%;
}

/* Divisor icon star */
.divisor::before{
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
    vertical-align: middle;
}

.divisor::after{
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
    vertical-align: middle;
}

.bg_black::before,
.bg_black::after {
    background-color: black;
}

.bg_white::before,
.bg_white::after{
    background-color: white;
}

.divisor{
    margin-bottom: 10px;
}

/* HEADER */
header{
    background-color: #2d3e4f;
    color: white;
    padding: 30px 0;
}

/* Header left col */
.brand{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Header right col */
.hamburger,
.header_menu {
    text-align: right;
}

.header_menu li{
    display: inline-block;
    margin-left: 20px;
}

.header_menu a{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

/* MAIN */
section {
    padding: 50px 0;
}

.section-heading {
    margin-bottom: 20px;
    text-align: center;
}

.section-heading h2 {
    font-size: 40px;
    text-transform: uppercase;
}

/* Jumbotron */
.jumbotron{
    text-align: center;
    text-transform: uppercase;
}

.jumbotron h1{
    font-size: 40px;
}

.jumbotron .img{
    margin: auto;
    max-width: 250px;
    margin-bottom: 10px;
}

/* Portfolio */
.images_container .single_image{
    border-radius: 10px;
}

/* About */
.about{
    background-color: turquoise;
}

.about_content{
    width: 60%;
    margin: auto;
    color:white;
    text-align: center;
    padding: 50px 0;
}

.about_text_container{
    padding: 10px 0;
    text-align: left;
}

.download_btn{
    margin-top: 30px;
}
.download_btn a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Contact */
.contact_content{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.contact_content .divisor::after,
.contact_content .divisor::before{
    background-color: black;
}

.form{
    width: 100%;
    height: 400px;
    background-color: burlywood;
    margin-top: 30px;
}

/* FOOTER */
footer{
    color: white;
}

.footer_contact{
    background-color: rgb(42, 42, 48);
    padding: 50px 0;
    text-align: center;
}

.footer_single_text{
    margin-bottom: 40px;
}

.footer_copyright{
    background-color: rgb(17, 17, 20);
    padding: 20px 0;
    text-align: center;
}